<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Presente</h3>
    <div class="div">
        <form action="/evaluar" method="POST">
            <label>Je</label><input type="text" name="je"><br><br>
            <label>Tu</label><input type="text" name="tu"><br><br>
            <label>Il/Elle/On</label><input type="text" name="il"><br><br>
            <label>Nous</label><input type="text" name="nous"><br><br>
            <label>Vous</label><input type="text" name="vous"><br><br>
            <label>Ils/Elles</label><input type="text" name="ils"><br><br>
            <button type="submit">Revisar</button>   
        </form>
    </div>
</body>
</html>